*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-grey: #353535;
    --dark-turquoise: #3c6e71;
    --white: #ffffff;
    --light-grey: #d9d9d9;
    --dark-blue: #284b63;
  }

body{
    font-family: prenton-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1{ 
    font-family: nicholas, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 180px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
    color: var(--dark-grey);
}

h2{
    font-family: prenton-display, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 80px;
    display:flex;
    flex-direction: row-reverse;
    padding-right: 10px;
    color: var(--dark-turquoise);
}

#header{
    display: flex;
    justify-content: space-between;
}

#logo{
    transform: rotate(270deg);
    width: 250px;
    height: 250px;
    object-fit: contain;
    padding-left: 10px;
    padding-right: 10px;
}

header .navbar {
    background-color: white;
}

header .navbar ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: var(--light-grey);
}

header .navbar ul li{
    position: relative;
}

header .navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    color: var(--dark-blue);
    display: block;
    background: var(--light-grey);
}

header .navbar ul li a:hover{
    background: var(--dark-blue);
    color: #fff;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--light-grey);
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid var(--dark-grey);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: block;
    z-index: 10;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

#intro {
    background-image: url(../img/red-chair.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    color: white;
    text-align: left;
    padding-left: 50px; 
}

.content {
    background-color: var(--dark-blue);
    opacity: 0.8;
    padding: 50px;
    max-width: 400px;
}

#motivation {
    background-color: var(--dark-turquoise);
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    z-index: 0;
}

#motivation h2 {
    color: var(--white);
    font-family: nicholas, sans-serif;
    font-weight: 800;
    font-style: normal;
    display: contents;
}

#motivation p {
    flex: 1;
    width: 50%;
    color: var(--white);
}

#motivation img {
    width: 30%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#intro, #motivation {
    position: relative;
    padding: 20px;
}

#plant img {
    position: absolute;
    top: 700px;
    left: 75%;
    z-index: 1;
    width: 150px;
    transform: rotate(270deg);
    width: 800px;
}

aside {
    display: flex;
    gap: 20px; 
    justify-content: space-around;
}

aside p{
    padding-bottom: 10px;
}

aside .content{
background-color: var(--white);
display: flex;
flex-direction: column;
justify-content: space-between;
}

.teaser {
    width: 40%;
    flex-shrink: 0;
}

.teaser img {
    width: 200%;
    height: 200px;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}



#fixed{
    color: var(--white);
    background-color: var(--dark-blue);
    position: fixed;
    bottom: 0;
    right: 50px;
    padding: 20px;
    font-size: 18px;
}

#fixed a{
    color: var(--white);
    text-decoration: none;
    font-family: prenton-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#konstruktion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#konstruktion h1 {
    margin: 5%;
    color: var(--dark-blue);
}

#konstruktion a{
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    background-color: var(--dark-blue);
    padding: 10px;
}


footer {
    background-color: var(--light-grey);
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

footer img{
    padding-bottom: 2%;
    width: 400px;
}

footer nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer nav ul li {
    display: inline-block; 
    margin-right: 15px; 
}

footer nav ul li:last-child {
    margin-right: 0;
}

footer nav ul li a {
    text-decoration: none;
    color: var(--dark-grey);
}

@media (max-width:991){
    #logo{
        display: none;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #eee;
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
}